/**

This file contains overrides for various portions of our page to create dark mode.
It is important to note that this file _should_ eventually work itself out of a job
as we replace static postcss variables with CSS custom properties across the app;
when we define those properties in vars.css, we simply need to define them twice:
1. Once for light mode
2. Another time within `html[color-scheme=dark]`

Over time, doing that ^^ will allow us to remove the overrides here that are for our own app.
*/

html[color-scheme] {
    transition: background-color 0.75s ease-out, border-color 0.75s ease-out,
        color 0.15s ease-in;
}

html[color-scheme='dark'] {
    --backdrop-blur-radius: 30px;

    /* The page */
    background: var(--color-structure) !important;
    color: var(--color-ink);
}

html[color-scheme='dark'] [id='global-navigation'] {
    background-color: var(--color-structure);
    border-color: var(--color-divider-light);
}

html[color-scheme='dark'] [class*='text__subtitle'] {
    color: var(--color-ink);
}

html[color-scheme='dark'] [class*='title__last-edit'] {
    color: var(--color-ink-darker);
}

html[color-scheme='dark'] [class*='logo__root'] path {
    fill: var(--color-ink);
}

html[color-scheme='dark'] [class*='settings-dropdown__toggle'] path,
html[color-scheme='dark'] [class*='title__crumb-arrow'] path {
    fill: var(--color-ink-darkest);
}

html[color-scheme='dark'] a,
html[color-scheme='dark'] a strong,
html[color-scheme='dark'] button[class*='link_'],
html[color-scheme='dark'] button[role='link'],
html[color-scheme='dark'] span[class*='Mention_mention'],
html[color-scheme='dark'] [class*='CommentThread_resolve'] {
    color: var(--color-ink-blue-2);
}

html[color-scheme='dark'] [class*='ql-editor'] blockquote {
    border-color: var(--color-text-highlight);
}

html[color-scheme='dark'] code,
html[color-scheme='dark'] pre {
    background: var(--color-structure-light) !important;
    border-color: var(--color-divider-light) !important;
    color: var(--color-ink-darker) !important;
}

html[color-scheme='dark'] [class*='Authors_full-name'] {
    color: var(--color-ink-blue-1);
}

html[color-scheme='dark'] [class*='PlusMenu_plus-menu-line-bar'] {
    background-color: var(--color-text-highlight);
}

html[color-scheme='dark'] [class*='PlusMenu_plus-menu__'],
html[color-scheme='dark'] [class*='settings-dropdown__menu__'] {
    background-color: var(--color-structure-light);
    -webkit-backdrop-filter: blur(var(--backdrop-blur-radius));
    backdrop-filter: blur(var(--backdrop-blur-radius));
}

html[color-scheme='dark'] [class*='PlusMenu_plus-menu__'] h4,
html[color-scheme='dark'] [class*='settings-dropdown__menu__'] h4 {
    color: var(--color-ink);
}

html[color-scheme='dark'] [class*='PlusMenu_plus-menu__'] hr,
html[color-scheme='dark'] [class*='settings-dropdown__menu__'] hr {
    background-color: var(--color-divider-light);
}

html[color-scheme='dark'] [class*='PlusMenu_plus-menu__'] g,
html[color-scheme='dark'] [class*='settings-dropdown__menu__'] g {
    fill: var(--color-ink-blue-2);
}

html[color-scheme='dark'] [class*='PlusMenuOption_plus-menu-button'],
html[color-scheme='dark'] [class*='settings-dropdown__menu__'] li a {
    color: var(--color-ink);
}

html[color-scheme='dark'] [class*='PlusMenuOption_plus-menu-button']:hover,
html[color-scheme='dark'] [class*='settings-dropdown__menu__'] li a:hover {
    background-color: var(--color-structure-lighter);
    color: var(--color-ink);
}

html[color-scheme='dark']
    [class*='CreateEmbedModal_container']
    [aria-label='Add embed'],
html[color-scheme='dark']
    [class*='CreateEmbedModal_container']
    input[type='text'] {
    background-color: var(--color-structure-light);
}

html[color-scheme='dark'] [class*='LineControls_resize-container'] {
    background: transparent;
}

html[color-scheme='dark'] [class*='LineControls_line-controls'] svg path {
    fill: var(--color-ink-darkest);
}

html[color-scheme='dark'] [class*='LineControls_active'] svg path {
    fill: var(--color-ink-blue-3);
}

html[color-scheme='dark'] [class*='AnimatedEmbedWrapper'] {
    background-color: var(--color-structure);
}

html[color-scheme='dark'] [class*='Blots_block-embed'] {
    background-color: var(--color-structure);
    border-color: var(--color-structure-lighter);
}

html[color-scheme='dark'] [class*='PersistentBar_hover-children'] {
    background: linear-gradient(
        to right,
        rgba(23, 25, 29, 0) 0%,
        var(--color-structure) 5%,
        var(--color-structure) 100%
    );
}

html[color-scheme='dark'] [class*='PersistentBar_title'] {
    color: var(--color-ink);
}

html[color-scheme='dark'] [class*='EmbedModal_backdrop'] {
    --gradient-dark: #c6c5c200;
    --gradient-light: #b8b5b200;
    -webkit-backdrop-filter: blur(var(--backdrop-blur-radius));
    backdrop-filter: blur(var(--backdrop-blur-radius));
    transition-property: opacity, -webkit-backdrop-filter;
    transition-property: opacity, backdrop-filter;
    transition-property: opacity, backdrop-filter, -webkit-backdrop-filter;
}

html[color-scheme='dark'] [class*='ExpandedImageHeader_expandedDownload'] a {
    color: var(--ink);
}

html[color-scheme='dark'] [class*='Mark_mark'] {
    border-color: var(--color-text-highlight);
}

html[color-scheme='dark'] [class*='Mark_mark'][class*='selected'] {
    background-color: var(--color-text-highlight);
}

html[color-scheme='dark'] [class*='comment-container'] {
    background-color: transparent;
}

html[color-scheme='dark']
    [class*='comment-container']
    [class*='CommentThread_ellipses-container'] {
    background: linear-gradient(
        to right,
        #17191d00,
        var(--color-structure) 89px
    );
}

html[color-scheme='dark'] [class*='comment-container'][class*='focused'],
html[color-scheme='dark'] [class*='comment-container'][class*='highlighted'],
html[color-scheme='dark'] [class*='comment-container']:hover {
    background-color: var(--color-structure-light);
}

html[color-scheme='dark']
    [class*='comment-container'][class*='focused']
    [class*='CommentThread_additional-comment-text'],
html[color-scheme='dark']
    [class*='comment-container'][class*='highlighted']
    [class*='CommentThread_additional-comment-text'],
html[color-scheme='dark']
    [class*='comment-container']:hover
    [class*='CommentThread_additional-comment-text'] {
    color: var(--color-ink-darkest);
}

html[color-scheme='dark']
    [class*='comment-container'][class*='focused']
    [class*='CommentThread_ellipses-container'],
html[color-scheme='dark']
    [class*='comment-container'][class*='highlighted']
    [class*='CommentThread_ellipses-container'],
html[color-scheme='dark']
    [class*='comment-container']:hover
    [class*='CommentThread_ellipses-container'] {
    background: linear-gradient(
        to right,
        #22252b00,
        var(--color-structure-light) 89px
    );
}

html[color-scheme='dark']
    [class*='comment-container'][class*='focused']
    [class*='MentionAvatar_avatar-container'],
html[color-scheme='dark']
    [class*='comment-container'][class*='highlighted']
    [class*='MentionAvatar_avatar-container'],
html[color-scheme='dark']
    [class*='comment-container']:hover
    [class*='MentionAvatar_avatar-container'] {
    border-color: var(--color-structure-light);
}

html[color-scheme='dark'] [class*='CommentThread_new-comment']::before {
    background-color: var(--color-divider-light);
}

html[color-scheme='dark']
    [class*='CommentThread']
    [class*='MentionAvatar_avatar-container'] {
    border-color: var(--color-structure);
}

html[color-scheme='dark'] [class*='CommentThread_comment-name'] {
    color: var(--color-ink);
}

html[color-scheme='dark'] [class*='CommentThread_comment-text'] {
    color: var(--color-ink-darker);
}

html[color-scheme='dark'] [class*='CommentThread_comment-time'],
html[color-scheme='dark']
    [class*='CommentThread_comment-editor']
    p:first-child {
    color: var(--color-ink-darkest);
}

html[color-scheme='dark'] [id='root'] {
    background-color: var(--color-structure);
}
