.placeholder {
    position: absolute;
    left: 0;
    padding: 0 30px 300px;
    font-family: var(--font-maison);
    line-height: 41px;
    font-size: 16px;
    letter-spacing: 0.4px;
    opacity: 0.3;
    overflow-wrap: break-word;
    width: 100%;
}

.placeholder p {
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.4px;
    line-height: 28px;
    margin: 0;
}

.placeholder .placeholder-title {
    font-family: var(--font-eina);
    font-size: 40px;
    font-weight: 600;
    line-height: 56px;
    padding-bottom: 26px;
    padding-top: 28px;
    letter-spacing: 0px;
}

.placeholder-hide {
    visibility: hidden;
}
